_build
support/gl.xml
support/glx.xml
src/tgl3.mli
src/tgl3.ml
src/tgl4.mli
src/tgl4.ml
src/tgles2.mli
src/tgles2.ml
src/tgles3.mli
src/tgles3.ml
src/tglx1.mli
src/tglx1.ml
tmp
*~
\.\#*
\#*#
CLOCK.org
*.native
*.byte
tgls.install
